body{
  background-color: #CC0000;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

h4 {
  color: white;
  font-family: 'Megrim', cursive;
  font-size: 60px ;
  text-align: center;
}
h1 {
  color: white ;
  font-family: 'Megrim', cursive;
  font-size: 30px ;
  text-align: center;
  border: 10px solid white ;
  width: 40%;
  margin: auto;
  padding: 50px;
  margin-top: 40px;
  margin-bottom: 50px;
}

h2 {
  color: white ;
  font-family: 'Megrim', cursive;
  font-size: 30px ;
  text-align: center;
  border: 10px solid white ;
  width: 40%;
  margin:auto;
  padding: 50px;
  margin-top: 70px;
  margin-bottom: 50px;
}

h3 {
  color: white ;
  font-family: 'Megrim', cursive;
  font-size: 30px ;
  text-align: center;
  border: 10px solid white ;
  width: 40%;
  margin: auto;
  padding: 50px;
  margin-top: 70px;
  margin-bottom: 50px;
}

#trademark {
  color: white;
  font-family: 'Yantramanav', sans-serif;
  font-size: 15px;
  text-align: center;
  margin-top: 200px;
}

#header {
  float :left;
}

#headerText {
  margin-top: 5px;
  font-size: 30px;
  color: white;
  font-family: 'Yantramanav', sans-serif;
  text-decoration: none;
  float: left;
  margin-right: 20px;
  padding-left: 1px;
}
.nav ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
  white-space: nowrap;
}

.nav li {
  font-family: 'Yantramanav', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
  display: inline-block;
}

.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}

.nav a:hover {
  background-color: #FF0000;
}

@media screen and (min-width: 600px) {
  h1 {
    width: 500px;
    font-size: 40px;
  }

  h2 {
    width: 500px;
    font-size: 40px;
  }

  h3 {
    width: 500px;
    font-size: 40px;
  }

  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }

.nav li {
    display: inline-block;
    margin-right: 100px;
}
}
