body{
 background-color: #CC0000;
 text-align: center;
 margin-left: auto;
 margin-right: auto;
}

#breakuppics {
  background-size: cover;
  height: 600px;
  width: 800px;
  align-items: center;
  margin: auto;
}

#text {
  color: white;
  font-family: 'Amita', cursive;
  text-align: center;
  font-size: 60px;

  font-weight:900;
  margin-top: 1px;
  line-height:300px;
  height:3000px;
}


#trademark {
  color: white;
  font-family: 'Yantramanav', sans-serif;
  font-size: 20px;
  text-align: center;
  margin-top: 100px;
}

#header {
  float :left;
}

#headerText {
  margin-top: 5px;
  font-size: 30px;
  color: white;
  font-family: 'Yantramanav', sans-serif;
  text-decoration: none;
  float: left;
  padding-left: 1px;
}

#sendButton {
  text-align: center;
  padding: 10px;
  color: black;
  font-family: 'Megrim', cursive;
  font-size: 23pt;
}

#send {
  font-size: 23px;
  color: black;
  padding: 10px;
  font-family: 'Megrim', cursive;
  text-align: center;
  margin-top: 50px;

}

.nav ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
  white-space: nowrap;
}

.nav li {
  font-family: 'Yantramanav', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
  display: inline-block;
}

.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}

.nav a:hover {
  background-color: #FF0000;
}

h1 {
  font-size: 50px;
  text-align: justify;
  margin-left: 300px;
  margin-top: 150px;
  font-family: 'Yantramanav', sans-serif;
  color: white;
}
@media screen and (min-width: 600px) {

  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }

.nav li {
    display: inline-block;
    margin-right: 100px;
}
}
