body {
  background-color: #E60000;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#trademark {
  color: white;
  font-family: 'Yantramanav', sans-serif;
  font-size: 20px;
  text-align: center;
}

#header {
  float :left;
}

#headerText {
  margin-top: 5px;
  font-size: 30px;
  color: white;
  font-family: 'Yantramanav', sans-serif;
  text-decoration: none;
  float: left;
}

h4{
  color: white;
  font-family: 'Megrim';
}

.nav ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
}

.nav li {
  font-family: 'Yantramanav', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}

.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}

.nav a:hover {
  background-color: #FF0000;
}

@media screen and (min-width: 600px) {
  h1{
    width: 500px;
    font-size: 100px;
  }

  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }

.nav li {
    display: inline-block;
    margin-right: 50px;
}
