body {
  background-color: #E60000;
}

h1 {
  color: white ;
  font-family: 'Megrim', cursive;
  font-size: 100px ;
  text-align: center;
  border: 10px solid white ;
  width: 40%;
  margin: auto;
  padding: 70px ;

}

h2 {
  color: white;
  font-family: 'Megrim', cursive;
  font-size: 50px;
  text-align: center;
}

#header{
  height: 100px;
  background: purple;
  border: 1px solid #CCC;
  width: 100%;
  margin: 10px auto;
}
