body {
  background-color: #E60000;
}


h1{
  color: white;
  font-family: 'Megrim', cursive;
  font-size: 150px;
  text-align: center;
}

h2 {
  color: white;
  font-family: 'Megrim', cursive;
  font-size: 100px;
  text-align: center;


#chip {
  width: 500px;
  margin: 20px auto;
  padding: 50px;
  border-width: 10px;
}
