title {
  color: white;
  font-family:"Lucida Console", Monaco, monospace;
  text-align: center;

}


body {
  background-color: #FF0000;
}

h1 {
  color: white;
  font-family:"Lucida Console", Monaco, monospace;
  text-align: center;
}
