body {
  background-color: #CC0000;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#trademark {
  color: white;
  font-family: 'Yantramanav', sans-serif;
  font-size: 20px;
  text-align: center;
}

h1 {
  color: white;
  font-family: 'Megrim', cursive;
  font-size: 50px;
  text-align: center;
  border: 10px solid white;
  width: 50%;
  margin: auto;
  padding: 45px;
}

h2 {
  color: white;
  font-family: 'Megrim', cursive;
  font-size: 50px;
  text-align: center;
}

#chip {
  width: 1000px;
  height: 350px;
  margin: 50px;
  padding: 10px;
  border-width: 10px;
  margin: auto;
}

#joinButton {
  text-decoration: none;
  background-color: white;
  color: black;
  text-align: center;
  border: 5px solid white;
  margin: auto;
  font-size: 23pt;
  padding: 10px;
}

@media screen and (min-width: 600px) {
  h1{
    width: 500px;
    font-size: 100px;
}
}
