<!DOCTYPE html>

<html>
  <head>
    <title> Home Page </title>
    <link rel="stylesheet" type="text/css" href="../css/about.css">
    <link rel="icon" type="image/png" href="../pictures/Chipmunk.png"/>
    <link href='http://fonts.googleapis.com/css?family=Megrim' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Yantramanav:400,300' rel='stylesheet' type='text/css'>
  </head>
  <body>

{% include 'templates/navbar.html' %}

  <h1>
    <img src="../pictures/carla.png">
    Carla Palassian
  </h1>


  <h2> Yelena Mandelshtam </h2>
  <h3> Francisco Silva Pavon </h3>

  <footer id="trademark">

    This site was approved and paid for by Ronald Q. Chump <br>
    Developed by Chumps&trade;

  </footer>

  </body>

</html>
