<!DOCTYPE html>
<html>
  <head>
    <title> Home Page </title>
    <link rel="stylesheet" type="text/css" href="../css/home.css">
    <link rel="icon" type="image/png" href="../pictures/Chipmunk.png"/>
    <link href='http://fonts.googleapis.com/css?family=Megrim' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <h1> hi </h1>
    <h2> hi <h2>
  </body>
</html>










<!-- <!DOCTYPE html>
<html>
  <head>
    <title> Chump 2016 </title>
    <link rel="stylesheet" type="text/css" href="../css/home.css">
    <link rel="icon" type="image/png" href="../pictures/Chipmunk.png"/>
    <link href='http://fonts.googleapis.com/css?family=Megrim' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <h1> CHUMP </h1>
    <h2> Make America Great Again!<h2>
    <div id="chip">
      <img style="height: 100%;" src="../pictures/chip.jpg" />
    </div>
  </body>
</html> -->
