<!DOCTYPE html>

<html>
  <head>
    <title> Home Page </title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../javascript/home.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/home.css">
    <link rel="icon" type="image/png" href="../pictures/Chipmunk.png"/>
    <link href='http://fonts.googleapis.com/css?family=Megrim' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Yantramanav:400,300' rel='stylesheet' type='text/css'>
  </head>
  <body>

{% include 'templates/navbar.html' %}

    <h1 id="aboutRonald"> About Ronald </h1>

    <div id="fatchip">
      <img style="height: 100%;" src="../pictures/fatchipmunk.jpg" />
    </div>

<div id="h2container">
    <div>  Ronald Q. Chump is the very definition of the success story, proving that even nonhumans can emerge from the woodwork and embrace good old American capitalism, pitting inferior species against one another to build monopolies along the way.
       Chump’s expansive portfolio boasts park properties all over the nation, and with generous involuntary taxpayer donation, has transformed these spaces into private one-percenter acorn-burying grounds.
        Chump has had several books ghostwritten for him, including the bestsellers <i>Chip On My Shoulder</i> and <i>Surviving at the Top (of the Tree)</i>.  </div>
</div>


    <footer id="trademark">

      This site was approved and paid for by Ronald Q. Chump <br>
      Developed by Chumps&trade;

    </footer>

  </body>
</html>
