<!DOCTYPE html>
<html>
  <head>
    <title> Chump 2016 </title>
    <link rel="stylesheet" type="text/css" href="../css/home.css">
  </head>
  <body>
    <h1> the chipmunk </h1>

    <form id="breakUpButton" action="/breakup">
    <input type="submit" value="BreakUp">
    </form>

    <form id="locatorButton" action="/locations">
    <input type="submit" value="Locator">
    </form>

    <form id="UNO" action="/unohome">
    <input type="submit" value="UNO">
    </form>

    <form id="Videos" action="/videos">
    <input type="submit" value="Videos">
    </form>

</html>
