<!DOCTYPE html>
<html>

  <head>
    <title> Chump 2016 </title>
    <link rel="stylesheet" type="text/css" href="../css/landing.css">
    <link rel="icon" type="image/png" href="../pictures/Chipmunk.png"/>
    <link href='http://fonts.googleapis.com/css?family=Megrim' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Yantramanav:400,300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <h1> CHUMP </h1>
    <h2> Make America Great Again!<h2>
    <div id="chip">
      <img style="height: 100%;" src="../pictures/chip.jpg" />
    </div>
    <a href="/home" class="button" id="joinButton">
      Join The Revolution</a>
  </body>
</html>
