<!DOCTYPE html>
<html>
  <head>
    <title> Landing Page </title>
    <link rel="stylesheet" type="text/css" href="../css/landing.css">
    <link rel="icon" type="image/png" href="../pictures/Chipmunk.png"/>
    <link href='http://fonts.googleapis.com/css?family=Megrim' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <h1> CHUMP </h1>
    <h2> Make America Great Again!<h2>
    <div id="chip">
      <img style="height: 100%;" src="../pictures/chip.jpg" />
    </div>
  </body>
</html>

<!-- <!DOCTYPE html>

<html>
  <head>
    <title> welcome </title>
    <link rel="stylesheet" type="text/css" href="../css/landing.css">
    <link rel="icon" type="image/png" href="../pictures/Chipmunk.png"/>
  </head>
  <body>
    <h1>   vote for chipmunk   </h1>

    <form id="enterButton" action="/home">
    <input type="submit" value="Enter">
    </form>

  </body>
</html> -->
