<!DOCTYPE html>

<html>
  <head>
    <title> Locator </title>
    <link rel="stylesheet" type="text/css" href="../css/locator.css">
    <script src="http://maps.googleapis.com/maps/api/js"></script>
    <link rel="icon" type="image/png" href="../pictures/Chipmunk.png"/>
    <link href='http://fonts.googleapis.com/css?family=Megrim' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Yantramanav:400,300' rel='stylesheet' type='text/css'>
  </head>
   <body>

{% include 'templates/navbar.html' %}

  <h3> Chump Locator </h3>
  <p> Check out the nearest Chump supporting territory(parks) near you!</p>

  <iframe width="800" height="550" frameborder="10" style="border:100"
  src="https://www.google.com/maps/embed/v1/search?q=Parks&key=AIzaSyCKoGHY-P4RWk78e2zO0qZ26OgznHo2iLQ"
  allowfullscreen></iframe>
  <div id="googleMap" style="width:600px;height:500px;"></div>

  <footer id="trademark">

    This site was approved and paid for by Ronald Q. Chump <br>
    Developed by Chumps&trade;

  </footer>

  </body>
</html>
