<!DOCTYPE html>

<html>
  <head>
    <title> locator </title>
    <link rel="stylesheet" type="text/css" href="../css/locator.css">
    <link href='http://fonts.googleapis.com/css?family=Megrim' rel='stylesheet' type='text/css'>
    <script src="http://maps.googleapis.com/maps/api/js"></script>
    <link rel="icon" type="image/png" href="../pictures/Chipmunk.png"/>
  </head>
  <body>
    <div class="navigationbar">
      <header>
        <div class="nav">
          <ul>
            <li class="one"><a href="../templates/home.html">Home</a></li>
            <li class="two"><a href="../templates/unogame.html">ChumpUNO</a></li>
            <li class="three"><a href="../templates/locator.html">Locator</a></li>
            <li class="four"><a href="../templates/dump.html">BreakUp</a></li>
            <li class="five"><a href="../templates/videoSearch.html">Videos</a></li>
          </ul>
        </div>
      </header>
    </div>
  <h3> Chump Locator <h3>
  <iframe width="600" height="450" frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/search?q=Starbucks&key=AIzaSyCKoGHY-P4RWk78e2zO0qZ26OgznHo2iLQ"
  allowfullscreen></iframe>
  <div id="googleMap" style="width:740px;height:500px;"></div>
  </body>
</html>
