<div id="header">
<a href="/home">
  <img src="../pictures/Chipmunk.png" height="50px" width="50px"> </a>
</div>

<a href="/home">
  <div id="headerText"> CHUMP 2016 </div>
</a>

<div class="navigationbar">
  <header>
    <div class="nav">
      <ul>
        <li class="two"><a href="/unohome">ChumpUNO</a></li>
        <li class="three"><a href="/locations">Locator</a></li>
        <li class="four"><a href="/breakup">BreakUp</a></li>
        <li class="five"><a href="/videos">Videos</a></li>
      </ul>
    </div>
  </header>
</div>
