<!DOCTYPE html>

<html>
  <head>
    <title> UNO HOME </title>
    <link rel="stylesheet" type="text/css" href="../css/unohome.css">
    <link rel="icon" type="image/png" href="../pictures/Chipmunk.png"/>
  </head>
  <body>
    <div class="navigationbar">
      <header>
        <div class="nav">
          <ul>
            <li class="one"><a href="../templates/home.html">Home</a></li>
            <li class="two"><a href="../templates/unogame.html">ChumpUNO</a></li>
            <li class="three"><a href="../templates/locator.html">Locator</a></li>
            <li class="four"><a href="../templates/dump.html">BreakUp</a></li>
            <li class="five"><a href="../templates/videoSearch.html">Videos</a></li>
          </ul>
        </div>
      </header>
    </div>
    <form id="gameButton" action="/unogame">
    <input type="submit" value="Play UNO">
    </form>

    <form id="instructionsButton" action="/unoinstructions">
    <input type="submit" value="Read Instructions">
    </form>

  </body>
</html>
