<!DOCTYPE html>

<html>
  <head>
    <title> UNO HOME </title>
    <link rel="stylesheet" type="text/css" href="../css/unohome.css">
    <link rel="icon" type="image/png" href="../pictures/Chipmunk.png"/>
    <link href='http://fonts.googleapis.com/css?family=Megrim' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Yantramanav:400,300' rel='stylesheet' type='text/css'>
  </head>
  <body>

{% include 'templates/navbar.html' %}

    <h1> ChumpUNO </h1>

    <form id="gameButton" action="/unogame">
      <button id="playuno" type="submit" action="../templates/unogame.html">
        Play Uno
      </button>
    </form>

    <form id="instructionsButton" action="/unoinstructions">
      <button id="instructions" type="submit" action="../templates/unoinstructions.html">
        Instructions
      </button>
    </form>

    <footer id="trademark">

      This site was approved and paid for by Ronald the Chipmunk <br>
      Developed by Chumps&trade;

    </footer>

  </body>
</html>
