<!DOCTYPE html>

<html>
  <head>
    <title> UNO Instructions </title>
    <link rel="stylesheet" type="text/css" href="../css/unoinstructions.css">
    <link rel="icon" type="image/png" href="../pictures/Chipmunk.png"/>
    <link href='http://fonts.googleapis.com/css?family=Megrim' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Yantramanav:400,300' rel='stylesheet' type='text/css'>
  </head>

  <body>

{% include 'templates/navbar.html' %}

    <h1> How to Play </h1>

    <p> The goal of the game is to use up all of your cards before anyone else.
        To accomplish this, one plays a card of similar color or number on top
        of the previously played card. There are special cards like those that
        make you draw 2 and 4 additional cards, wild cards that change the current
        color based on the player's choice, and reverse/skip cards, that skip the
        next player's turns. </p>

    <h3> Have fun! </h3>




    <form id="gameButton" action="/unogame">
      <button id="playuno" type="submit" action="../templates/unogame.html">
        Play Uno
      </button>
    </form>



    <footer id="trademark">

      This site was approved and paid for by Ronald Q. Chump <br>
      Developed by Chumps&trade;

    </footer>

  </body>
</html>
