<!DOCTYPE html>
<html>
  <head>
    <title> Videos </title>
    <link rel="stylesheet" type="text/css" href="../css/videoSearch.css">
    <link rel="icon" type="image/png" href="../pictures/Chipmunk.png"/>
    <link href='http://fonts.googleapis.com/css?family=Yantramanav:400,300' rel='stylesheet' type='text/css'>
    <script src="../javascript/videoSearch.js"> </script>
  </head>
  <body>

{% include 'templates/navbar.html' %}

    <iframe width="1280" height="720" src="https://www.youtube.com/embed/
    videoseries?list=PLBsLXHvLw9EqF_nE5Rh04-r0-eV-6IIoj&index={{ randomNumber }}&amp;showinfo=1"
    frameborder="0" allowfullscreen></iframe>

    <footer id="trademark">

      This site was approved and paid for by Ronald Q. Chump <br>
      Developed by Chumps&trade;

    </footer>

  </body>
</html>
